<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Darts </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Darts</ion-title>
		</ion-toolbar>
	</ion-header>

	<div id="container" *ngrxLet="players$ as players">
		<ng-container *ngIf="players.length > 0; else noPlayers">
			<app-player-item
				*ngFor="let player of players"
				[player]="player"
				(deletePlayer)="deletePlayer($event)"
			>
			</app-player-item>
		</ng-container>

		<ng-template #noPlayers>
			<ion-text>No Players. Add at least one and start playing!</ion-text>
		</ng-template>

		<app-create-player (create)="createPlayer($event)"></app-create-player>
	</div>
</ion-content>
